# Dart / Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Serverpod
config/passwords.yaml
config/*.secret.yaml
toysbubus_server/config/passwords.yaml
toysbubus_server/config/*.secret.yaml
.env
*.env
toysbubus_server/data/
toysbubus_server/test_data/
toysbubus_server/pgadmin-data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
